.page-nav {
  margin: 0 auto;
  padding: 0;
  padding-top: 40px;
  font-size: 0;
  margin-bottom: 164px;
  min-height: 50px;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  align-items: center;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}
