$main-font-stack: "Montserrat-400","Montserrat-700","Montserrat-900","Roboto-LightItalic","Roboto-font","KaushanScript-font","Open Sans", sans-serif;

$primary-white-color:  #ffffff;
$another-white-color: #e7e7e7;
$dark-white-color:#cccccc;
$white-color-second:#e5e5e5;
$grey-color: #333333;
$light-grey-color: #999999;
$pink-color: #f38181;
$yellow-color: #fce38a;
$blue-color: #95e1d3;

$transition: linear 200ms;