html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
    font-family: "Playfair Display-Regular";
    font-size: 14px;
}

body {
    margin: 0;
}

.container {
    width: 900px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

header {
margin-bottom: 103px;
}

.page-nav {
    text-align: center;
    padding-top: 77px;
}

.navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    font-size: 0;
}


.navigation li {
    display: inline-block;
    text-decoration: none;
    background: none;
    margin-right: 60px;
    font-size: 14px;
    text-transform: uppercase;
}

.navigation li:last-child {
    margin-right: 0;
}

.navigation a {
    text-decoration: none;
    color: #626262;
    font-weight: 400;
    line-height: 24px; 
}


    
img {
    display: block;
    width: 420px;
    height: 279px;
    margin-bottom: 30px;
}

#lifestyle {
    color: #626262;
}

.navigation a:hover,
.navigation a:focus
 {
    color: #f4035f;
    background: white;
}

#lifestyle:hover {
    color: #03a9f4;
    background: white;
    
}

.features {
    display: inline-block;
    font-size: 0;
    padding-bottom: 70px;

}

.features_list {
    width: 420px;
    display: inline-block;
    margin-right: 60px;
    list-style: none;
    font-size: 14px;
    text-align: justify;
    margin-bottom: 132px;
}


.features_list:nth-child(2n) {
    margin-right: 0;
}

.features_list h2 {
    margin: 0;
    margin-bottom: 40px;
    font-size: 30px;
}

.font {
    text-align: left;
    font-size: 14px;
    font-family: "Ubuntu";
    margin: 0;
    margin-bottom: 30px;
}

.text {
    margin: 0;
}

.features_list:nth-child(4n+1) {
    margin-bottom: 75px;
}
.features_list:nth-child(6n) {
    margin-bottom: 75px;
}

.button1 {
    display: block;
    margin: 0 auto;
    padding: 18px 34px;
    font-size: 20px;
    line-height: 24px;
    font-family: "Playfair Display";
    background-color: #ffffff;
    color: #626262;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #626262;
}

.button1:hover,
.button1:focus
 {
    color: #03a9f4;
    background: white;
}