html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../font/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;

}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../font/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;

}

@font-face {
  font-family: 'Roboto-Light';
  font-weight: 300;
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: "Montserrat-Regular","Montserrat-Bold","Roboto-Light", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
margin: 0 auto;
width: 320px;
}


.header {
  height: 540px;
  background-image: url(../pictures/Vector_Smart_Object.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0.10, 0.10, 0.08, 1);
 text-align: center;
}

.page-nav {
  margin: 0 auto;
  padding: 0;
  font-size: 0;
  list-style: none;
  text-align: center;

}


.site-logo { 
  margin: 0 auto;
  padding: 0;
  margin-bottom: 38px;
}


.site-logo a {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat-Bold";
  font-size: 20px;
  display: inline-block;

}

.header-menu {
  margin: 0 auto;
  padding: 0;
  padding-top: 32px;
  list-style: none;
  margin-bottom: 125px;
  display: inline-block;
 

}

.header-menu li {
  margin: 0;
  padding: 0;
}

.child {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat-Bold";
  font-size: 14px;
  display: inline-block;
  position: relative;
} 

.child1 {
  margin-right: 35px;
}

.child::before {
  position: absolute;
  content: "";
  background-image: url(../pictures/frame.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 96pt;
  height: 36pt;
  top: -16px;
  visibility: hidden;
}

.child1::before {
  left: -41px;
}

.child2::before {
  left: -36px;
}

.header-menu li:hover .child::before {
 visibility: visible;
} 


.section__title {
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat-Bold";
  
  
}

.section__title_white {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 19px;
}

.section__item__text {
  margin: 0 52px;
  padding: 0;
  font-family: "Roboto-Light", sans-serif;
  font-size: 18px;
  color: #fff;
  margin-bottom: 19px;

}

.section__link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat-Bold";
  font-size: 14px;
  display: inline-block;
  background-image: url(../pictures/button-fon_3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  padding: 12px 52px;
}

.section-partners {
  padding-top: 69px;
  text-align: center;
}

.section__title_black {
  font-size: 22px;
  color: rgb(0.2, 0.2, 0.2);
  margin-bottom: 15px;
}

.section-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.overlay_list_items {
  margin: 0;
  padding: 0;
}

.section__items_cards {
  width: 218px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 29px;
  position: relative;
  
}

.section__item__link {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.section__items_cards h3 {
  margin: 0;
  padding: 0;
  color: rgb(0.2, 0.2, 0.2);
  font-family: "Montserrat-Bold";
  font-size: 14px;
  margin-bottom: 17px;
}

.list__items__text {
  margin: 0;
  padding: 0;
  color: #b2b2b2;
  font-family: "Roboto-Light", sans-serif;
  font-size: 14px;
 
}

.section__link_pink-frame {
  background-image: url(../pictures/pink_frame.png);
  Color: #ff6666;
  margin-bottom: 57px;
  cursor: pointer;
}

.section__link:hover {
color: #f266ff;

}

.section__items_cards::after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 80px;
  right: 43px;
  
}

.section__items_img1::after {
  background-image: url(../pictures/tv.png);
  
}

.section__items_img2::after {
  background-image: url(../pictures/botle.png);
  
}

.section__items_img3::after {
  background-image: url(../pictures/cup_of_tea.png);
  
}

.section__items_img4::after {
  background-image: url(../pictures/telegram.png);
}

